################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aspworks/FileContentIndex/0763d3c8-0c24-4ed2-8e4c-eaed567be328.vsidx
